<%= form_for @note do |note| %>
  <p>
    <%= note.label :title %><br />
    <%= note.text_field :title %><br />
  </p>
  <p>
    <%= note.label :body %><br />
    <%= note.text_area :body %><br />
  </p>
  <p>
    <%= note.select :category_id, Category.where(user_id: current_user.id).order('name').collect{ |x| [x.name, x.id]}, { :include_blank => "Select a category"} %><br />
  </p>
  <p>
    <%= note.submit 'Add note' %>
  </p>
<% end %>
