<h1>Your notes list: </h1>
<table>
  <td><small><%= link_to "Create new note", new_note_path %></small></td>
  <td><small><%= link_to "View abailable categories", categories_path %></small></td>
</table>
<hr />
<ol>
<% @notes.each do |note| %>
  <li><%= link_to note[:title], note %><small> (Updated on: <%= note[:updated_at].strftime("%b %d. %Y") %> - Category: <%= link_to note.category.name, category_path(note.category_id) %>)</small></li>
<% end %>
</ol>
