<%= form_for @category do |category| %>
  <p>
    <%= category.label :name %><br />
    <%= category.text_field :name %><br />
  </p>
  <p>
    <%= category.label :description %><br />
    <%= category.text_area :description, cols: "50", rows: "6" %><br />
  </p>
  <p>
    <%= category.submit 'Save category' %>
<% end %>
