<h1>Your catigories list:</h1>
<table>
  <td><small><%= link_to "Create new category", new_category_path %></small></td>
  <td><small><%= link_to "View available notes", notes_path %></small></td>
</table>
<hr />
<ol>
<% @categories.each do |category| %>
  <% if category.user_id === current_user.id %>
    <li><%= link_to category[:name], category %><small> (Updated on: <%= category[:updated_at].strftime("%b %d. %Y") %> - Contains <%= category.notes.count %> <%= category.notes.count > 1 || category.notes.count < 1 ? 'notes' : 'note'%>)</small></li>
  <% end %>
<% end %>
