<div class="catigisLisDiv" style="text-align: center;">
  <h1 style="margin: 0 auto;">Your catigories list:</h1>
</div>
<p><%= link_to "View available notes", notes_path %></p>
<hr />
<ol>
<% @categories.each do |category| %>
  <% if category.user_id === current_user.id %>
    <li><%= link_to category[:name], category %><small> (Updated on: <%= category[:updated_at].strftime("%b %d. %Y") %> - Contains <%= category.notes.count %> <%= category.notes.count > 1 || category.notes.count < 1 ? 'notes' : 'note'%>)</small></li>
  <% end %>
<% end %>
